<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Katie and Steven</h2>
	<p>Katie and Steven grew up together in Greenbush, Minnesota. Being classmates in K-12 school, they were
    friends from the very beginning. Steven clearly remembers having a crush on Katie
    in kindergarten and keeping a photo of her in his cubby. Through homework sessions and ice skating dates
    in High School, they began to realize their relationship was special. Now, after dating for
    6 and 1/2 years, they are ready to receive the holy sacrament of marriage and enjoy their lives together
    to the fullest.</p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->	
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>Steven and Katie both enjoy outdoor activities and spending time with family. Some of their favorites are
    fishing, skiing, hiking, camping, and horseback riding. Steven is going to school to receive a Master's
    degree in Electrical Engineering. Katie is going for a Master's in Food Science and Human Nutrition. One thing they both know
    is that whatever they end up doing, they want to live in a rural area so they can continue to enjoy
    their passions.</p>
  </div>
  <div class="image">
    <img src="images/pic3.jpg" alt="" />
  </div>
</section>

