<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>
    <p class="date-font"><b>June 15, 2019</b><br>
    <b>2:00 PM</b></p>

    <b>Ceremony Location</b>
	<p>Blessed Sacrament Church<br>
	243 4th St S<br>
	Greenbush, MN 56726</p>

    <b>Reception to Follow</b>
    <p>Roseau Civic Center<br>
    121 Center St E<br>
	Roseau, MN 56751</p>

    <b>Hotel Accomodations</b>
    <p><a href="https://northcountryinnandsuites.com/">North Country Inn & Suites</a><br>
    902 3rd Street NW<br>
    Roseau, MN 56751<br>
    1-888-300-2196<br>Mention the Hlucny wedding when booking.</p>

  </header>
</div>
