<div class="inner">
  <header class="major">
    <h2>RSVP</h2>

	<form method="POST" action="https://formspree.io/hlucnywedding@gmail.com">
	  <input type="text" name="name" required placeholder="Your name" style="background: #d5f0fb"/>
	  <input type="text" name="number" required placeholder="Number of People (put 0 if not attending)" style="background: #d5f0fb; margin-top: 10px"/>
	  <input type="text" name="_gotcha" style="display:none"/>
	  <br>
	  <button type="submit" style="background: #d5f0fb">RSVP</button>
	</form>

  </header>
</div>
